@font-face {
    font-family: "SF Pro Regular";
    src: url("/NPO-Remediation/font/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
    font-family: "SF Pro Bold";
    src: url("/NPO-Remediation/font/SFPRODISPLAYBOLD.OTF");
}

html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    color: #393636;
    font-family: "SF Pro Regular";
}

.navbar-light .navbar-nav .nav-link{
    color: #84B1AD;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #0B6561;
}

.navbar-light .navbar-nav .active>.nav-link{
    font-weight: bold;
    color: #0B6561;
}

.navbar-light .navbar-toggler{
    background-color: transparent;
    border: 1px solid #0B6561;
}


.nav-button-link{
    color: white;
}

.nav-button-link:hover{
    color: white;
    text-decoration: none;
}

.btn-green{
    background-color: #0B6561;
    color: white;
    border: 5px;
}

.btn-green:hover{
    color: white;
}

.green{
    color: #0B6561;
}

.light-green{
    color: #84B1AD;
}

.text-bold{
    font-family: "SF Pro Bold";
}

.Hero-text{
    font-family: "SF Pro Bold";
    color: #0B6561;
    text-align: center;
    font-size: 30px;
}

p{
    font-size: 20px;
}

.program-card{
    border: none;
    border-radius: 0px;
}

.program-footer{
    background-color: #0B6561;
    color: white;
    border-radius: 0px !important;
    padding: 10px;
}

.program-link:hover{
    text-decoration: none;
}

.form-control{
    border: 2.5px solid #0B6561;
    border-radius: 5px;
}

.story-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 3px solid #0B6561;
    border-radius: 10px;
}

.story-image{
    position: relative;
    right: 60px;
    border-radius: 15px;
}

.card-body{
    position: relative;
    right: 60px;
}

.carousel-buttons{
    position: relative;
    bottom: 260px;
    right: -5px;
}

.program-text{
    font-size: 18px;
    line-height: 2rem;
}

.program-image{
    border-radius: 70px;
}

/* @media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .navbar-brand{
        width: 310px;
    }

    .navbar-light .navbar-nav .active>.nav-link{
        font-size: 12px;
    }

    .navbar-toggler:focus{
        outline: none;
    }

    .px-5{
        padding-right: .7rem !important;
        padding-left: .7rem !important;
    }

    .p-5{
        padding: .7rem !important;
    }

    .Hero-text{
        font-size: 12px;
    }

    .mx-5, .mx-2{
        margin-right: 0rem !important;
        margin-left: 0rem !important;
    }

    .py-4{
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
    }

    .mt-2{
        margin-top: 0 !important;
    }

    .mt-3{
        margin-top: .5rem !important;
    }

    .mt-4{
        margin-top: 1rem !important;
    }

    .mt-5{
        margin-top: 1.5rem !important;
    }

    h4{
        font-size: 18px;
    }

    h3{
        font-size: 20px;
    }

    p{
        font-size: 14px;
    }

    h5{
        font-size: 14px;
    }

    .program-footer{
        padding: 8px;
    }

    .program-footer >h5{
        margin: 0px;
    }

    .story-card{
        padding: 0 !important;
        margin: 10px;
        border: 2px solid #0B6561;
        margin-left: 10px;
        left: 8px;
    }

    .story-image{
        right: 10px;
        width: 30%;
    }

    .card-body{
        padding: .5rem;
        right: 5px;
    }

    .card-body .card-text{
        font-size: 10px;
    }

    .card-body h4{
        margin-bottom: 5px;
    }

    .card-body h5{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .card-body .mt-4{
        margin-top: 5px !important;
    }

    .ml-4{
        margin-left: 0 !important;
    }

    .carousel-buttons img{
        width: 20%;
    }

    .carousel-buttons{
        margin: 0 !important;
        bottom: 170px;
        right: -20px;
    }

    .form-control{
        border: 1.5px solid #0B6561;
    }

    .form-group{
        margin-right: 0px;
    }

    textarea{
        width: 80%;
    }

}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
    
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    
} */